typing-extensions
langchain-openai
langchain-experimental
pandas
python-dotenv
yfinance
praw
feedparser
stockstats
eodhd
langgraph<1.0.0
chromadb
setuptools
backtrader
akshare
tushare
finnhub-python
parsel
requests
tqdm
pytz
redis
rich
questionary
langchain_anthropic
langchain-google-genai
binance-futures-connector
praw
markdown-pdf
loguru
onnxruntime<1.24.0
streamlit
